#entrada {
    text-align: center;
    background-color: rgb(119, 229, 56);
    border-radius: 6px;
    width: 600px;
    margin: 5px;
    padding: 5px;
}

#resultado {
    text-align: center;
    background-color: rgb(167, 87, 243);
    width: 600px;
    margin: 5px;
    padding: 5px;
    border-radius: 6px;
    display: none;
}